/*
    Author:  JP, SAM
    Project: http://github.com/TheJP/stebs

    1. General Style
    2. Left Sidebars
    3. Bottom sidebar
    4. Coding View
    5. Run and Debug-Controll Panel
    CodeMirror external changes

*/

/* 1. General Style */

html, body, #canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#canvas {
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    /*for debugging */
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.open-link {
    position: relative;
}

.open-link-vertical {
    float: right;
    left: 50px;
    width: 50px;
    height: 50%;
}

.open-link-vertical button {
    width: 50px;
    height: 100%;
}

.open-link-vertical button span {
    display: inline-block;
    position: relative;
    transform: rotate(-90deg);
    left: -10px;
}

.open-link button {
    border: none;
    background-color: forestgreen;
}

.open-link button:hover, .open-link button:active {
    background-color: lightgreen;
}

.open-link-horizontal {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border: 1px solid black;
}

.open-link-horizontal button {
    height: 38px;
    width: 100%;
}

.open-link-horizontal button span {
    display: inline-block;
    position: relative;
}

/* 2. Left Sidebars */

#devices {
    z-index: 5000;
    left: -350px;
    width: 350px;
}

#devices, #architecture {
    position: absolute;
    height: 100%;
}

.devices-container {
    width: 350px;
    height: 100%;
    background-color: white;
}

#architecture {
    z-index: 4000;
    width: 400px;
    left: -400px;
}

.architecture-container {
    width: 400px;
    height: 100%;
    background-color: lightgray;
}

#architecture .open-link {
    top: 50%;
}

#architecture .open-link-vertical button span {
    left: -23px;
}

/* 3. Bottom sidebar */

/* class for all devices */
.device {
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 315px;
    padding-left: 5px;
    overflow: hidden;
    top: calc(-50% + 10px);
    position: relative;
}

.device p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

/* RAM device style */
#ramDevice button {
    float: right;
}

#ramDevice table {
    position: relative;
    border-spacing: 2px;
    border-collapse: separate;
    font-size: 11pt;
    font-family: Consolas;
    text-transform: uppercase;
    width: 99%;
}

#ramDevice table, th {
    text-align: center;
}

#ramDevice #bold-elem {
    font-weight: bold;
}

.changed {
    background-color: yellow;
}

#ramDevice .stackPointer {
    background-color: lightblue;
}

#ramDevice .instructionPointer {
    background-color: lightcoral;
}

.output-container {
    position: relative;
    display: none;
    width: 100%;
    height: 150px;
    z-index: 4000;
    overflow-y: auto;
}

.output-container p {
    margin: 0 0 0 5px;
}

/* 4. Coding View */

#codingView {
    position: relative;
    z-index: 3000;
    height: 100%;
    width: calc(100% - 50px);
    left: 50px;
}

#codingTopBar {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 5px 5px;
    background-color: lightgrey;
    height: 36px;
}

#codingTopBar #filename {
    min-width: 10%;
    max-width: 30%;
    float: left;
}

#codingTopBar button {
    box-sizing: content-box;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-top: -3px;
    border: none;
    background-color: transparent;
}

#codingTopBar .simulationControl {
     float: right;  
}

#codingTopBar .fileControl {
     float: left;  
}

#codingTopBar button:hover {
    background-color: #383;
}

#codingTopBar img, .buttonView .controlButtons img {
    width: 20px;
    height: 20px;
}

#codingFrame {
    height: calc(100% - 38px - 38px - 100px);
}

#codingView #codingTextArea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: 0 0 0 0;
    padding: 5px 5px;
}

/* 5. Run and Debug-Controll Panel */
.runAndDebug {
    position: relative;
    border: 1px solid black;
    height: 100px;
}

.runAndDebug .buttonView {
    float: right;
    width: 212px;
}

.runAndDebug .buttonView .stepSizeRadios {
    float: left;
}

.runAndDebug .buttonView .stepSizeRadios label, .runAndDebug .buttonView button {
    display: block;
    height: 25px;
}

.runAndDebug .buttonView .stepSizeButtons {
    display: none;
    float: left;
}

.runAndDebug .buttonView .stepSizeButtons button {
    width: 140px;
}

.runAndDebug .buttonView .controlButtons {
    float: right;
}

.runAndDebug .buttonView .controlButtons button {
    width: 60px;
    box-sizing: content-box;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -3px;
    border: none;
    background-color: transparent;
}

.runAndDebug .buttonView .sliderDiv {
    clear: both;
    width: 98%;
}

.runAndDebug .buttonView .sliderDiv #speedSlider {
    width: 98%;
}

.runAndDebug #watcher-container {
    position: relative;
    width: calc(100% - 220px);
    height: 100%;
}

.runAndDebug #watcher-container #watcher-elements {
    height: 100%;
    float: left;
    max-width: calc(100% - 68px);
    overflow-y: auto;
    overflow-x: hidden;
}

.runAndDebug #watcher-container .watcher {
    float: left;
    position: relative;
    border: 1px solid black;
    min-width: 56px;
    height: 40px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin: 2px;
    text-transform: uppercase;
}

.runAndDebug #watcher-container .watcher button {
    position: relative;
    float: right;
    border: 0px;
    background-color: transparent;
}

.runAndDebug #watcher-container .watcher a {
    text-decoration: none;
    color: black;
}

.runAndDebug #watcher-container .watcher .changed {
    background-color: yellow;
}

.runAndDebug #watcher-container .watcher a:hover {
    text-decoration: underline;
}

.runAndDebug #watcher-container .watcher p {
    margin: 1px;
    margin-bottom: 0px;
}

.runAndDebug #watcher-container #addWatchElement {
    float: left;
    position: relative;
    display: block;
}
.runAndDebug #watcher-container #addWatchElement button {
    position: relative;
    display: block;
    width: 56px;
    height: 40px;
}

.runAndDebug #watcher-container #addWatchElement h1 {
    position: relative;
    margin: 0px;
}

/* Run and debug buttons */
#debug:disabled .enabled-icon,
#debug:enabled .disabled-icon,
#start:disabled .enabled-icon,
#start:enabled .disabled-icon,
#pause:disabled .enabled-icon,
#pause:enabled .disabled-icon,
#continue:disabled .enabled-icon,
#continue:enabled .disabled-icon,
#stop:disabled .enabled-icon,
#stop:enabled .disabled-icon,
#pause:enabled + #continue:disabled,
#pause:disabled {
    display: none;
}

/* Top bar */

.accountLinks {
    float: right;
}

/* Register watches */
#addWatches {
    z-index: 5000;
    position: absolute;
    left: 2px;
    width: 200px;
    min-height: 40px;
    background-color: white;
    border: 1px solid black;  
}

#addWatches #closeWatches {
    float: right;
    width: 15px;
}

#addWatches span {
    font-weight: bold;
    padding-left: 5px;
}

#addWatches a {
    width: 190px;
    padding-left: 5px;
    display: block;
    color: black;
    text-decoration: none;
}

#addWatches a:hover {
    background-color: ghostwhite;
}

/* FileManagement styles */
#fileSystem {
    z-index: 5000;
    display: none;
    position: absolute;
    left: 2px;
    top: 38px;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
}

#fileSystem #folderPath {
    margin-left: 5px;
}

#fileSystem #files{
    width: 100%;
    height: 250px;
    overflow-y: auto;
}

#fileSystem #files .file-node {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

#fileSystem #files .file-node:hover {
    background-color:ghostwhite;
}

#fileSystem #files .file-node .openLink {
    width: calc(100% - 80px);
    display: inline-block;
    text-decoration: none;
}

#fileSystem #files .file-node input {
    width: calc(100% - 86px);
    display: inline-block;
}

#fileSystem .addElement button {
    width: 49%;
    background-color: none;
    border: 0px none;
}

/* ICONs */
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-size: 20px 20px;
    background-repeat: no-repeat;   
}

.fileIcon {
    background-image: url(/Icons/file-text-icon.png);
}

.folderIcon {
    background-image: url(/Icons/folder-close-icon.png);
}

.editIcon {
    background-image: url(/Icons/Pencil-icon.png);
}

.removeIcon {
    background-image: url(/Icons/trash-icon.png);
}

.okIcon {
    background-image: url(/Icons/ok-icon.png);
}

.cancelIcon {
    background-image: url(/Icons/delete-2-icon.png);
}

.saveIcon {
    background-size: 15px 15px;
    background-image: url(/Icons/Save-icon.png);   
}

.arrowUpIcon {
    background-size: 15px 15px;
    background-image: url(/Icons/up-icon.png); 
}

.arrowDownIcon {
    background-size: 15px 15px;
    background-image: url(/Icons/down-icon.png); 
}

/* CodeMirror external changes */
.CodeMirror {
    height: 100% !important;
    font-family: Consolas !important;
    font-size: 11pt !important;
}

.CodeMirror .CodeMirror-gutters {
    height: calc(100% - 10px) !important;
}

#codingFrame.running .CodeMirror-activeline-background {
    background-color: greenyellow !important;
}

