/*
    Authors:  JP, SAM
    Project: http://github.com/TheJP/stebs

    1. General Style
    2. Top bar
    3. Left Sidebars
    4. Bottom bar
    5. Coding View
    6. Run and Debug-Controll Panel
    7. Register Watches
    8. Filemanagement
    9. CodeMirror external changes

*/

/* 1. General Style */

html, body, #canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    background-color: #333;
}

#canvas {
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    /*for debugging */
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.open-link-vertical {
    left: 100%;
    width: 30px;
    position: absolute;
}

.open-link-vertical button {
    height: 100%;
    width: 30px;
    background-repeat: no-repeat;
}

.open-link button {
    border: 0;
    padding: 0;
    background-color: transparent;
}

.open-link-horizontal {
    position: relative;
    box-sizing: border-box;
    height: 25px;
    width: 100%;
    font-size: 14px;
}

.open-link-horizontal button {
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 40px;
}

.open-link-horizontal button span {
    display: inline-block;
    position: relative;
}

.changed {
    background-color: yellow;
}

.arrow-icon {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

.arrow-icon.up {
    background-image: url(/Icons/up-icon.png);
}

.arrow-icon.down {
    background-image: url(/Icons/down-icon.png);
}

button:disabled .enabled-icon,
button:enabled .disabled-icon,
#pause:enabled + #continue:disabled,
#pause:disabled {
    display: none;
}

@keyframes grow-icon {
    0% { background-size: 20px 20px; }
    25% { background-size: 21px 21px; }
    50% { background-size: 22px 22px; }
    75% { background-size: 23px 23px; }
    100% { background-size: 24px 24px; }
}

/* 2. Top bar */

#codingTopBar {
    box-sizing: border-box;
    width: 100%;
    padding: 7px 10px;
    background-color: #aaa;
    color: white;
    height: 38px;
}

#filename {
    padding-top: 2px;
    min-width: 10%;
    max-width: 30%;
    float: left;
}

#filename-star {
    display: none;
    float: left;
}

.simulationControl, .accountLinks {
    float: right;
}

.simulationControl {
    height: 24px;
    padding: 0;
}

#codingTopBar button {
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    padding: 0;
    margin: 0 10px 0 0;
    border: 0;
    background-position: center center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    vertical-align: top;
}

#codingTopBar button:hover {
    animation: grow-icon 0.25s linear 1;
    background-size: 24px 24px;

}

#assemble {
    background-image: url(/Icons/assemble.png);
}

#debug {
    background-image: url(/Icons/step-by-step.png);
}

#start {
    background-image: url(/Icons/Play-icon.png);
}

#open {
    background-image: url(/Icons/open-file-icon.png);
}

#save {
    background-image: url(/Icons/Save-icon.png);
}

#new {
    background-image: url(/Icons/new-file-icon.png);
}

.accountLinks {
    padding-top: 2px;
}

.fileControl {
     float: left;
}

#codingTopBar img, .buttonView .controlButtons img {
    width: 20px;
    height: 20px;
}

.accountLinks a {
    margin-left: 5px;
    margin-right: 10px;
    color: white;
}

/* 3. Left Sidebars */

#devices {
    z-index: 5000;
    left: -350px;
    width: 350px;
}

#devices, #architecture {
    position: absolute;
    height: 100%;
}

.devices-container {
    width: 350px;
    height: 100%;
    background-color: #444;
}

#devices .open-link {
    top: 10px;
    height: 134px;
}

#devices .open-link button {
    background-image: url(/Images/DevicesAndRam.png);
}

#devices .open-link button:hover, #devices .open-link button:active {
    background-image: url(/Images/DevicesAndRamHighlight.png);
}

#architecture {
    z-index: 4000;
    width: 400px;
    left: -400px;
}

.architecture-container {
    width: 400px;
    height: 100%;
    background-color: #333;
}

#architecture .open-link {
    top: 160px;
    height: 109px;
}

#architecture .open-link button {
    background-image: url(/Images/Architecture.png);
}

#architecture .open-link button:hover, #architecture .open-link button:active {
    background-image: url(/Images/ArchitectureHighlight.png);
}

/* class for all devices */
.device {
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 315px;
    padding-left: 5px;
    overflow: hidden;
    position: relative;
    top: 10px;
    background-color: white;
}

.device p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

/* RAM device style */
#ramDevice #hideShowRam, #ramDevice #downloadRam {
    float: right;
}

#ramDevice table {
    position: relative;
    border-spacing: 2px;
    border-collapse: separate;
    font-size: 11pt;
    font-family: Consolas;
    text-transform: uppercase;
    width: 99%;
}

#ramDevice table, th {
    text-align: center;
}

#ramDevice #bold-elem {
    font-weight: bold;
}

#ramDevice .stackPointer {
    background-color: lightblue;
}

#ramDevice .instructionPointer {
    background-color: lightcoral;
}

/* 4. Bottom bar */

.output-container {
    position: relative;
    display: none;
    width: 100%;
    height: 150px;
    z-index: 4000;
    overflow-y: auto;
}

.output-container p {
    margin: 0 0 0 5px;
}

.output .open-link {
    background-color: #aaa;
    color: white;
}

#openOutput .arrow-icon {
    position: absolute;
    top: 5px;
    left: 16px;
}

/* 5. Coding View */

#codingView {
    position: relative;
    z-index: 3000;
    height: 100%;
    width: calc(100% - 30px);
    left: 30px;
}

#codingFrame {
    height: calc(100% - 63px);
}

/* 6. Run and Debug-Controll Panel */

.runAndDebug {
    position: relative;
    height: 110px;
    background-color: #ccc;
    padding-top: 5px;
    padding-left: 5px;
}

#run-open-link {
    top: -25px;
    right: 0;
    position: absolute;
    height: 25px;
    width: 230px;
    z-index: 4000;
}

#run-open-link button {
    border: 0;
    color: white;
    background-color: #aaa;
    height: 25px;
    width: 100%;
    padding-right: 46px;
    text-align: right;
}

#run-open-link .arrow-icon {
    position: absolute;
    top: 5px;
    right: 20px;
}

.runAndDebug .buttonView {
    float: right;
    width: 212px;
}

.runAndDebug .buttonView .stepSizeRadios {
    float: left;
}

.runAndDebug .buttonView .stepSizeRadios label, .runAndDebug .buttonView button {
    display: block;
    height: 25px;
}

.runAndDebug .buttonView .stepSizeButtons {
    display: none;
    float: left;
}

.runAndDebug .buttonView .stepSizeButtons button {
    width: 140px;
}

.runAndDebug .buttonView .controlButtons {
    float: right;
}

.runAndDebug .buttonView .controlButtons button {
    width: 60px;
    box-sizing: content-box;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -3px;
    border: none;
    background-color: transparent;
}

.runAndDebug .buttonView .sliderDiv {
    clear: both;
    width: 98%;
}

.runAndDebug .buttonView .sliderDiv #speedSlider {
    width: 98%;
}

.runAndDebug #watcher-container {
    position: relative;
    width: calc(100% - 220px);
    height: 100%;
}

.runAndDebug #watcher-container #watcher-elements {
    height: 100%;
    float: left;
    max-width: calc(100% - 68px);
    overflow-y: auto;
    overflow-x: hidden;
}

.runAndDebug #watcher-container .watcher {
    float: left;
    position: relative;
    border: 1px solid black;
    min-width: 56px;
    height: 40px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin: 2px;
    text-transform: uppercase;
    background-color: white;
}

.runAndDebug #watcher-container .watcher button {
    position: relative;
    float: right;
    border: 0px;
    background-color: transparent;
}

.runAndDebug #watcher-container .watcher a {
    text-decoration: none;
    color: black;
}

.runAndDebug #watcher-container .watcher .changed {
    background-color: yellow;
}

.runAndDebug #watcher-container .watcher a:hover {
    text-decoration: underline;
}

.runAndDebug #watcher-container .watcher p {
    margin: 1px;
    margin-bottom: 0px;
}

.runAndDebug #watcher-container #addWatchElement {
    float: left;
    position: relative;
    display: block;
}
.runAndDebug #watcher-container #addWatchElement button {
    position: relative;
    display: block;
    width: 56px;
    height: 40px;
}

.runAndDebug #watcher-container #addWatchElement h1 {
    position: relative;
    margin: 0px;
}

/* 7. Register watches */

#addWatches {
    display: none;
    z-index: 5000;
    position: absolute;
    left: 2px;
    width: 200px;
    min-height: 40px;
    background-color: white;
    border: 1px solid black;  
}

#addWatches #closeWatches {
    float: right;
    width: 15px;
}

#addWatches span {
    font-weight: bold;
    padding-left: 5px;
}

#addWatches a {
    width: 190px;
    padding-left: 5px;
    display: block;
    color: black;
    text-decoration: none;
}

#addWatches a:hover {
    background-color: ghostwhite;
}

/* 8. FileManagement */

#fileSystem {
    z-index: 5000;
    display: none;
    position: absolute;
    left: 2px;
    top: 38px;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
}

#fileSystem #folderPath {
    margin-left: 5px;
    height: 28px;
}

#fileSystem #files{
    width: 100%;
    height: 244px;
    overflow-y: auto;
}

#fileSystem #files .file-node {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

#fileSystem #files .file-node:hover {
    background-color:ghostwhite;
}

#fileSystem #files .file-node .openLink {
    width: calc(100% - 80px);
    display: inline-block;
    text-decoration: none;
}

#fileSystem #files .file-node input {
    width: calc(100% - 86px);
    display: inline-block;
}

#fileSystem .addElement button {
    width: 49%;
    background-color: none;
    border: 0px none;
}

#fileSystem #closeFileSystem {
    float: right;
    background: none;
    border: solid 1px white;
}

#fileSystem #closeFileSystem:hover {
    background: grey;
}

/* Icons */
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: transparent;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    border: none;
}

.fileIcon {
    background-image: url(/Icons/file-text-icon.png);
}

.folderIcon {
    background-image: url(/Icons/folder-close-icon.png);
}

.editIcon {
    background-image: url(/Icons/Pencil-icon.png);
}

.removeIcon {
    background-image: url(/Icons/trash-icon.png);
}

.okIcon {
    background-image: url(/Icons/ok-icon.png);
}

.cancelIcon {
    background-image: url(/Icons/delete-2-icon.png);
}

.saveIcon {
    background-image: url(/Icons/Save-icon.png);   
}

.arrowUpIcon {
    background-image: url(/Icons/up-icon.png); 
}

.arrowDownIcon {
    background-image: url(/Icons/down-icon.png); 
}

/* 9. CodeMirror external changes */

.CodeMirror {
    height: 100% !important;
    font-family: Consolas !important;
    font-size: 11pt !important;
}

.CodeMirror .CodeMirror-gutters {
    height: calc(100% - 10px) !important;
}

#codingFrame.running .CodeMirror-activeline-background {
    background-color: greenyellow !important;
}

