@{
    ViewBag.Title = "About";
}

<h1>Stebs - Student training eight bit simulator</h1>

<p>Copyright &copy; 2011 - @DateTime.Now.Year</p>
<p>FHNW, HT Windisch, Switzerland</p>

<h2>Bachelor Thesis, 2011</h2>
<p>Ivo Nussbaumer &amp; Thomas Schilling</p>

<h2>Students' Project, 2013</h2>
<p>Nicolas Weber, Roman Holzner, Josiane Manera, Jurij Chamin</p>

<h2>Students' Project, 2015</h2>
<p>Port to Web and complete rewrite</p>
<p>Samuel Merki &amp; Janis Peyer</p>

<h2>Supervisor</h2>
<p>Ruedi Müller</p>
