@{
    Layout = "~/Views/Shared/_StebsLayout.cshtml";
}

<div id="devices">
    <div class="open-link open-link-vertical">
        <button id="openDevices"><span>Devices</span></button>
    </div>
    <div id="deviceElements" class="devices-container">
        <div id="ramDevice" class="device">
            <div id="ramHeader">
                <button id="hideShowRam" class="icon arrowUpIcon"></button>
                <button id="downloadRam" class="icon saveIcon"></button>
                <p>RAM</p>
            </div>
            <div id="ramTable"></div>
        </div>
        <div id="deviceControl" class="device">
            <p>Add Device</p>
            <form id="addDeviceForm">
                <select id="deviceSelect">
                    <option>Loading...</option>
                </select>
                <input type="number" min="0" max="255" id="deviceSlot" />
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
<div id="architecture">
    <div class="open-link open-link-vertical">
        <button id="openArchitecture"><span>Architecture</span></button>
    </div>
    <div class="architecture-container">
        <canvas id="canvas" width="1000" height="600"></canvas>
    </div>
</div>

<div id="codingView">
    <div id="codingTopBar">
        <div class="accountLinks">
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = User.Identity.GetUserName() })
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            }
        </div>
        <div class="simulationControl">
            <button id="assemble" title="Assemble (ctrl+b)"><img src="/Icons/Mimetypes-text-x-hex-icon.png" /></button>
            <button id="debug" title="Single Step (ctrl+j)"><img class="disabled-icon" src="/Icons/Debug-icon-grey.png" /><img class="enabled-icon" src="/Icons/Debug-icon.png" /></button>
            <button id="start" title="Run (ctrl+g)"><img class="disabled-icon" src="/Icons/Play-icon-grey.png" /><img class="enabled-icon" src="/Icons/Play-icon.png" /></button>
        </div>
        <div class="fileControl">
            <button id="open" title="Open (ctrl+o)"><img class="enabled-icon" src="/Icons/open-file-icon.png" /></button>
            <button id="save" title="Save (ctrl+s)"><img class="enabled-icon" src="/Icons/Save-icon.png" /></button>
            <button id="new" title="New (ctrl+n)"><img class="enabled-icon" src="/Icons/new-file-icon.png" /></button>
        </div>
        <span id="filename">New File</span>
    </div>
    <div id="codingFrame">
        <textarea id="codingTextArea"></textarea>
    </div>
    <div class="output">
        <div class="open-link open-link-horizontal">
            <button id="openOutput"><span>Output</span></button>
        </div>
        <div class="output-container">
            <textarea id="outputTextArea"></textarea>
        </div>
    </div>
    <div class="runAndDebug">
        <div class="buttonView">
            <div class="controlButtons">
                <button id="pause" title="Pause (ctrl+g)"><img class="disabled-icon" src="/Icons/Pause-icon-grey.png" /><img class="enabled-icon" src="/Icons/Pause-icon.png" /></button>
                <button id="continue" title="Continue (ctrl+g)"><img class="disabled-icon" src="/Icons/Play-icon-grey.png" /><img class="enabled-icon" src="/Icons/Play-icon.png" /></button>
                <button id="stop" title="Stop (ctrl+h or esc)"><img class="disabled-icon" src="/Icons/Stop-icon-grey.png" /><img class="enabled-icon" src="/Icons/Stop-icon.png" /></button>
            </div>
            <div class="stepSizeRadios">
                <label><input id="instructionStepSpeed" name="speedGroup" type="radio" checked="checked" /> Instruction Step</label>
                <label><input id="macroStepSpeed" name="speedGroup" type="radio" /> Macro Step</label>
                <label><input id="microStepSpeed" name="speedGroup" type="radio" /> Micro Step</label>
            </div>
            <div class="stepSizeButtons">
                <button id="instructionStep">Instruction Step</button>
                <button id="macroStep">Macro Step</button>
                <button id="microStep">Micro Step</button>
            </div>
            <div class="sliderDiv">
                <input id="speedSlider" type="range" min="0" max="2000" step="10" value="1500" />
            </div>
        </div>
        <div id="watcher-container">
            <div id="watcher-elements">
            </div>
            <div class="watcher watchElement" id="addWatchElement">
                <button id="newWatchesButton">
                    <h1>+</h1>
                </button>
            </div>
        </div>
    </div>
    <div id='fileSystem'>
        <button id="closeFileSystem">x</button>
        <div id="folderPath"></div>
        <div id="files"></div>
        <div class="addElement">
            <button id="addFile"><img class="icon" src="/Icons/file-text-icon.png"> Add</button>
            <button id="addFolder"><img class="icon" src="/Icons/folder-close-icon.png"> Add</button>
        </div>
    </div>
</div>
<div id="addWatches">
    <a id="closeWatches" href="#">x</a>
    <span>Select</span>
    <div id="elementList"></div>
</div>

