html, body, #canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#canvas {
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
}

.devices, .architecture {
    position: absolute;
    width: 400px;
    height: 100%;
}

.devices {
    z-index: 5000;
}

.devices-container {
    width: 400px;
    height: 100%;
    background-color: lightblue;
}
.architecture {
    z-index: 4000;
}

.architecture-container {
    width: 400px;
    height: 100%;
    background-color: lightgray;
}

.architecture .open-link {
    top: 50%;
}

.open-link {
    position: relative;
}

.open-link-vertical {
    float: right;
    left: 50px;
    width: 50px;
    height: 50%
}

.open-link-vertical button {
    width: 50px;
    height: 100%;
}

.open-link-vertical button span {
    display: inline-block;
    position: relative;
    transform: rotate(-90deg);
    left: -10px;
}

.architecture .open-link-vertical button span {
    left: -23px;
}

.open-link button {
    border: none;
    background-color: lightgreen;
}

.open-link button:hover, .open-link button:active {
    background-color: yellow;
}
