/*
    Author:  JP, SAM
    Project: http://github.com/TheJP/stebs

    1. General Style
    2. Left Sidebars
    3. Coding View
    4.

*/

/* 1. General Style */

html, body, #canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#canvas {
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    /*for debugging */
    display: none;
}

.open-link {
    position: relative;
}

.open-link-vertical {
    float: right;
    left: 50px;
    width: 50px;
    height: 50%;
}

.open-link-vertical button {
    width: 50px;
    height: 100%;
}

.open-link-vertical button span {
    display: inline-block;
    position: relative;
    transform: rotate(-90deg);
    left: -10px;
}

.open-link button {
    border: none;
    background-color: forestgreen;
}

.open-link button:hover, .open-link button:active {
    background-color: yellow;
}

.open-link-horizontal {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border: 1px solid black;
}

.open-link-horizontal button {
    height: 38px;
    width: 100%;
}

.open-link-horizontal button span {
    display: inline-block;
    position: relative;
}

.ram-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 150px;
    display: none;
    /*4 Testing*/
    z-index: 4000;
}

.output-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 150px;
    display: none;
    /*4 Testing*/
    z-index: 4000;
}

/* 2. Left Sidebars */

#devices, #architecture {
    position: absolute;
    width: 400px;
    height: 100%;
    /*for debugging
    display: none;*/
}

#devices {
    z-index: 5000;
    left: -400px;
}

.devices-container {
    width: 400px;
    height: 100%;
    background-color: lightblue;
}

#architecture {
    z-index: 4000;
    left: -400px;
}

.architecture-container {
    width: 400px;
    height: 100%;
    background-color: lightgray;
}

#architecture .open-link {
    top: 50%;
}

#architecture .open-link-vertical button span {
    left: -23px;
}

/* 3. Coding View */

#codingView {
    position: relative;
    z-index: 3000;
    height: calc(100vh - 100px);
    width: calc(100% - 50px);
    left: 50px;
}

#codingTopBar {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 5px 5px;
    background-color: lightgrey;
    height: 36px;
}

#codingTopBar button {
    float: right;
    margin-right: 10px;
}

#codingTopBar #fileName {
    width: 30%;
}

#codingView #editorWindow {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 38px - 38px - 38px - 100px);
    border: 1px solid black;
    margin: 0 0 0 0;
    padding: 5px 5px;
}

.runAndDebug {
    position: relative;
    z-index: 3000;
    border: 1px solid black;
    height: 100px;
}

.runAndDebug .btnView {
    float: right;
}

.runAndDebug .btnView .runMode {
    /*
    display: none;
    */
}